/* WHOLE WEBPAGE STYLING */
* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  background-color: #fafafa;
  font-family: "Space Grotesk", sans-serif;
}

/* NAV SECTION */
nav {
  display: flex;
  border-bottom: 1px solid grey;
  padding: 20px;

  justify-content: space-between;
  align-items: center;
}
nav ul {
  display: flex;
  list-style: none;
  margin-left: 30px;
}
nav ul li {
  margin-right: 30px;
}

nav ul a {
  text-decoration: none;
  color: black;
}
nav ul a:hover {
  color: #2549d3;
}
.home:visited {
  color: #2549d3;
}
nav button {
  border: none;
  background-color: #2549d3;
  color: white;
  font-weight: 700;
  padding: 15px;
  border-radius: 10px;
  margin-right: 70px;
  cursor: pointer;
}
.logo > h3 {
  font-family: "Oleo Script", cursive;
  cursor: pointer;
}

/* BODY SECTION ONE */
.welcome {
  display: flex;
  margin-left: 40px;
  margin-top: 40px;
  gap: 70px;
  align-content: center;
  padding: 40px;
}
.imagesection {
  height: 400px;
  width: 600px;
}
.imagesection > img {
  width: inherit;
  height: inherit;
}

.welcometext > h1 {
  color: blue;
}
.welcometext > button {
  background-color: #2549d3;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 10px;
  font-weight: 700;
  cursor: pointer;
}
.products {
  margin: 90px auto 0;
}
.productcards {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  justify-content: center;
  gap: 100px;
}

.productcards .cards {
  max-width: 30%;
  text-align: center;
  justify-content: center;
  display: block;
  height: 320px;
  margin: 15px;
}

.imgsection {
  height: 200px;
  width: 100%;
  justify-content: center;
}
.imgsection > img {
  width: inherit;
  height: inherit;
}

.description > p {
  color: gray;
}
